var obj = {class: 'foobar', require: true}
var other = {test: '123'}

input(name='foo'
      class='foo'
      class={test: true}
      style={color: 'red'}
      style={display: 'block'})&attributes(obj)&attributes(other)
