var obj = {class: 'foobar', require: true}
var other = {test: '123'}

input(name='foo'
      `=obj
      class='foo'
      class={test: true}
      `=other
      style={color: 'red'}
      style={display: 'block'})
