Foo
  if true
    if true
      if true
        if true
          span World;
    span Hello
    span :
    | testing
  span ,
  block right
    each letter in ['R', 'o', 'b', 'e', 'r', 't']
      span= letter
      if $index
        span= ' '
    .nested
      .divs
        .go
          .here